@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
  background-color:rgb(255, 255, 255);
  font-family: 'Oswald', sans-serif;
  font-size: 130%;
}

.survey{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 75%;
  gap:50px;
}

.center-column{
  display: flex;
  justify-content: flex;
  flex-direction: column;
  align-items: center;
  // gap:100x;
}

input{
  font-size: 100%;
  font-family: 'Oswald', sans-serif;
  // font-size: 50px;
}



