* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
  background-color:rgb(0, 128, 128)
}

.note-page{
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

// #notebar{
//   display:flex;
//   justify-content: center;
//   align-items: center;
//   gap:10px;
//   padding-top: 20px;
//   width:100%;
//   padding-bottom: 20px;
// }

.search-bar{
  width: 75%;
  height: 30px;
  border:none;
  color:rgb(0, 0, 0);
}

#note-bar{
  margin-top: 25px;
  width: 60%;
  // height: 75px;
}

.search-button{
  // background-color: #000000; /* Green */
  // border: none;
  // color: white;
  // padding: 10px 10px;
  // text-align: center;
  // text-decoration: none;
  // display: inline-block;
  // font-size: 16px;
  cursor:pointer;
}

.note{
  resize: both;
  overflow: auto;
  position:absolute;
}

.note-top-bar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.note-top-bar-left{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap:5px;
}

.note-text{
  width: 100%;
  position:absolute;
}

// 98.css format 

.title-bar-controls{
  gap:5px;
}

.field-row{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-body{
  display: flex;
  align-items: center;
}